<form #f="ngForm" (ngSubmit)="save(f.value)"> 
  <div class="form-group">
    <label for="title">Title</label>
    <input ngModel name="title" type="text" id="title" class="form-control">
  </div>

  <div class="form-group">
  <label for="price">Price</label>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input  ngModel name="price" id ="price" type="text" class="form-control">
    </div>
  </div>
  
  <div class="form-group">
    <label for="category">Category</label>
    <select  ngModel name="category"  type="text" id="category" class="form-control">
      <option value=""></option>
      <!-- tambahkan code berikut -->
      <option *ngFor="let c of categories$ | async" [value]="c.key">
        {{c.key}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <!-- rubah image-url menjadi imageurl agar memudahkan -->
    <label for="imageurl">Image Url</label>
    <input  ngModel name="imageurl"  type="text" id="imageurl" class="form-control">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
